<launch>

<arg name="bag_file" doc="name of the bag file to start extract/>
<param name="use_sim_time" value="true" />

<node pkg="rosbagToDataGen" name="rosbagToDataGen" type="rosbagToDataGen.py"/>


<node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(bag_file)"/>

</launch>